{% extends 'base.html.twig' %}

{% block body %}
  <!-- Wrapper for slides -->
  <div class="container custom-margin-top-lg">
      <div class="row">
            <div class="col-md-12">
                <div id="customSlider" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#customSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#customSlider" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="text-center" src="{{ asset('images/image2.jpg') }}" alt="First slide" width="auto">
                            <div class="carousel-caption text-dark">Rewolucja trwa</div>
                        </div>
                        <div class="item">
                            <img class="" src="{{ asset('images/image3.jpg') }}" alt="Second slide">
                            <div class="carousel-caption">W Polsce się dymi</div>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#customSlider" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>

                    <a class="right carousel-control" href="#customSlider" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% block content %}
   	<div class="container-fluid">
        <div class="row">
            <hr>
            <h1 class="text-center">Nowości</h1>
            <hr>
            <div class="col-md-3"></div>
            <div class="col-md-6">
            
                {% for post in posts %}
                    <div class="post-newest">
                        <p><b><a href="{{ path('postDetails', {id:post.id}) }}">{{ post.title }}</a></b></p>
                        <p>{{ post.description|slice(0, 300) }}...</p>
                    </div>
                    <hr>
                {% endfor %}


            </div>
            <div class="col-md-3"></div>
        </div>
   	</div>
    <div style="padding-top:200px;"></div>
{% endblock %}
{% endblock %}